# API Keys for LLM Integration
OLLAMA_API_KEY=your_actual_api_key
OLLAMA_HOST=https://api.ollama.cloud/v1 # Add this ONLY if your provider requires a specific endpoint, otherwise you can leave it out.


# App Settings
DEBUG=True
ENVIRONMENT=development
